<h3 class="page-header"><%= tmp Classroom %></h3>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10 col-sm-8">
            <h4 class="no-margin">
              <%= fa_icon :list %> todas
            </h4>
          </div>
          <div class="col-xs-2 col-sm-4 text-right">
            <%= link_to new_classroom_path, class: 'btn btn-xs btn-primary', title: :adicionar do %>
              <%= fa_icon :plus %> <span class="hidden-xs">adicionar</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% if @classrooms.present? %>
          <table class="table no-margin">
            <thead>
              <tr>
                <th><%= ta Classroom, :name %> <small>(<%= ta Classroom, :description %>)</small></th>
                <th width="200"><%= ta Classroom, :status %></th>
                <th width="100" class="text-right">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @classrooms.each do |classroom| %>
                <tr>
                  <td>
                    <h5>
                      <div><%= classroom.name %></div>
                      <small><%= classroom.description %></small>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <div><%= classroom.status_label %></div>
                    </h5>
                  </td>
                  <td>
                    <div class="text-right">
                      <%= link_to edit_classroom_path(classroom), class: 'text-info bs-tooltip', title: :editar do %>
                        <%= fa_icon 'pencil' %>
                      <% end %>
                      <span class="text-danger bs-tooltip" data-title="apagar" data-toggle="modal" data-target="#classroom_destroy_<%= classroom.id %>">
                        <%= fa_icon 'times' %>
                      </span>
                    </div>

                    <%= bs_modal_confirm_destroy "classroom_destroy_#{classroom.id}", classroom_path(classroom) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <%= not_found_message Classroom, :female %>, <%= link_to 'clique aqui para adicionar', new_classroom_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
