<div class="modal fade" id="<%= id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal">
          <%= fa_icon :times %>
        </span>
        <h3 class="modal-title"><%= title %></h3>
      </div>

      <div class="modal-body"><%= message %></div>

      <div class="modal-footer">
        <span class="btn btn-sm btn-default" data-dismiss="modal">
          <%= fa_icon 'arrow-left' %> cancelar
        </span>

        <%= link_to url, class: 'btn btn-sm btn-danger', method: :delete do %>
          <%= fa_icon :'trash-o' %> apagar
        <% end %>
      </div>
    </div>
  </div>
</div>
