<h3 class="page-header"><%= tmp Course %></h3>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10 col-sm-8">
            <h4 class="no-margin">
              <%= fa_icon :list %> todos
            </h4>
          </div>
          <div class="col-xs-2 col-sm-4 text-right">
            <%= link_to new_course_path, class: 'btn btn-xs btn-primary', title: :adicionar do %>
              <%= fa_icon :plus %> <span class="hidden-xs">adicionar</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% if @courses.present? %>
          <table class="table no-margin">
            <thead>
              <tr>
                <th><%= ta Course, :name %> <small>(<%= ta Course, :description %>)</small></th>
                <th><%= ta Course, :status %></th>
                <th width="100" class="text-right">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td>
                    <h5>
                      <div><%= course.name %></div>
                      <small><%= course.description %></small>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <div><%= course.status_label %></div>
                    </h5>
                  </td>
                  <td>
                    <div class="text-right">
                      <%= link_to edit_course_path(course), class: 'text-info bs-tooltip', title: :editar do %>
                        <%= fa_icon 'pencil' %>
                      <% end %>
                      <span class="text-danger bs-tooltip" data-title="apagar" data-toggle="modal" data-target="#course_destroy_<%= course.id %>">
                        <%= fa_icon 'times' %>
                      </span>
                    </div>

                    <%= bs_modal_confirm_destroy "course_destroy_#{course.id}", course_path(course) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <%= not_found_message @courses %>, <%= link_to 'clique aqui para adicionar', new_course_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
