<ul class="nav nav-sidebar">
  <li class="dropdown-header"><%= fa_icon :users %> <%= tmp Classroom %></li>
  <li>
    <%= link_to new_classroom_path do %>
      <%= fa_icon :plus, class: 'text-muted' %> Adicionar
    <% end %>
  </li>
  <li>
    <%= link_to classrooms_path do %>
      <%= fa_icon :list, class: 'text-muted' %> Ver todas
    <% end %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li class="dropdown-header"><%= fa_icon :users %> <%= tmp Student %></li>
  <li>
    <%= link_to new_student_path do %>
      <%= fa_icon :plus, class: 'text-muted' %> Adicionar
    <% end %>
  </li>
  <li>
    <%= link_to students_path do %>
      <%= fa_icon :list, class: 'text-muted' %> Ver todos
    <% end %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li class="dropdown-header"><%= fa_icon :flag %> <%= tmp Course %></li>
  <li>
    <%= link_to new_course_path do %>
      <%= fa_icon :plus, class: 'text-muted' %> Adicionar
    <% end %>
  </li>
  <li>
    <%= link_to courses_path do %>
      <%= fa_icon :list, class: 'text-muted' %> Ver todos
    <% end %>
  </li>
</ul>
